.Rproj.user
.Rhistory
.RData
.Ruserdata
ArboMAP.zip
gridMet
ArboMAP paper
2012.png
2013.png
firstreg.RData
fullcasemat.RData
outputdf backup
outputdf.RData
outputdf.csv
predictions
weather data
human case data
mosquito data
weather data backup
20-02-10 - model summaries.xlsx
ArboMAP-Main-Code.pdf
ArboMAP-User-s-Guide.pdf
ArboMAP_User_s_Guide.pdf
various graphics
