.Rproj.user
.Rhistory
.RData
.Ruserdata
ArboMAP.zip
gridMet
ArboMAP paper
outputdf.csv
outputdf backup
outputdf.RData
fullcasemat.RData
firstreg.RData
predictions
2004.png
2005.png
2006.png
2007.png
2008.png
2009.png
2010.png
2011.png
2012.png
2013.png
2014.png
2015.png
2016.png
2017.png
2018.png
2019.png
